@tailwind base;
@tailwind components;
@tailwind utilities;
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}
#dot {
  color: #1b84e7;
  font-weight: bold;
  font-size: 25px;
}
#mmnl {
  color: #968ba9;
  font-weight: bold;
  font-size: 25px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 10px 20px;
}
.head-left {
  display: flex;
  align-items: center;
  gap:20px;
}
.user{
  color:#007bff;
  font-weight: bold;
}
.head-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}
.main {
  flex-grow: 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}
.below {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  justify-content: space-evenly;
  height: 100%;
}
.entry, .report {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.headername {
  text-align: center;
  width: 100%;
}
.entrycontent, .reportcontent {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
h4 {
  color: black;
}
.cardone {
  width: 100%;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .head-left, .head-right {
    margin-bottom: 10px;
  }
  .content {
    flex-direction: column;
  }
}
