/* General navbar styles */
.navbar-container {
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  z-index: 50;
  width: 100%;
  background-color: #2d2d2d;
  border-bottom: 1px solid #444;
  padding: 0.5rem 0;
}

.navbar {
  max-width: 85rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  color: white;
  display: flex;
  align-items: center;
}

.user {
  color: #007bff;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-btn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-icon {
  display: none;
}

.open-icon {
  display: block;
}

.close-icon {
  display: none;
}

.navbar-toggle-btn .open-icon {
  display: block;
}

.navbar-toggle-btn .close-icon {
  display: none;
}

/* Navbar menu styles */
.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navbar-link {
  padding: 0.75rem 0.25rem;
  font-weight: 500;
  color: #999;
  text-decoration: none;
}

.navbar-link.active {
  color: #007bff;
}

.navbar-link:hover {
  color: #ccc;
}

/* Dropdown styles */
.nav-button {
  position: relative;
  padding: 0.75rem 0.25rem;
  font-weight: 500;
  color: #999;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-button.active {
  color: #007bff;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2d2d2d;
  border: 1px solid #444;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  z-index: 10;
}

.nav-button:hover .dropdown,
.nav-button.active .dropdown {
  display: block;
}

.dropdown button,
.dropdown a {
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #999;
  text-decoration: none;
  display: block;
}

.dropdown button:hover,
.dropdown a:hover {
  background-color: #444;
  color: #fff;
}

/* Login button styles */
.navbar-link.login {
  color: #007bff;
  display: flex;
  align-items: center;
}

.login-icon {
  margin-right: 0.5rem;
}

/* Responsive styles */
@media (min-width: 640px) {
  .navbar-container {
    flex-wrap: nowrap;
  }

  .navbar-menu {
    flex-direction: row;
    align-items: center;
  }

  .navbar-links {
    flex-direction: row;
    align-items: center;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
  }
}
